.photo {
  margin: auto;
  height: 36rem;
  border-radius: .3rem;
  background: #fff;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(.6);
  animation: scaleImg .3s forwards;
}

@keyframes scaleImg {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 2rem 2rem 0;
}

.img {
  grid-row: 1/4;
}

@media screen and (max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
    
  }
/*
  .photo:last-child > ul {
    color: #eee;
    margin-top: 3rem;
    overflow-y: auto;
    max-height: 150vh;
  }
*/

.img {
  grid-row: 1;
}
}

.author {
  opacity: .5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a:hover {
  text-decoration: underline;
}

.viewer::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: .625rem;
  margin-right: .5rem;
  background: url(../../assets/visualizacao-black.svg);
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 1rem 0 2rem;
}

.attributes li {
  margin-right: 2rem;
}

.attributes li::before {
  content: '';
  display: inline-block;
  height: 1.25rem;
  margin: .3125rem .5rem 0 0;
  position: relative;
  top: .1875rem;
  width: .125rem;
  background: #888;
}