.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 1rem 0 2rem;
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  background-color: #eee;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  border: 1px solid transparent;
  transition: .3s;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background-color: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.nav a:global(.active) {
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

/*
esse estilo só será aplicado se eu utilizar importação do svg como svg de fato, ou componente
*/
.nav a:global(.active) img {
  fill: #fb1;
}

.mobileBtn {
  background-color: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .3s;
}

.mobileBtn::after {
  display: block;
  content: '';
  width: 1.2rem;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: .3s;
}

.mobileBtn:focus,
.mobileBtn:hover,
.mobileBtnActive {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 #fea;
  border-color: #fb1;
  color: #fb1;
}

.mobileBtnActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 5px;
  box-shadow: 0 9px currentColor, 0 -9px currentColor;
}